<footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6"> 
            <div class="copyright text-center text-xl-left text-muted">
                &copy; 2019 <a href="https://www.vertex360.co" class="font-weight-bold ml-1" target="_blank">Vertex 360</a>
            </div>
        </div>
        <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                <li class="nav-item">
                    <a href="#" class="nav-link" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="http://www.turbo360.co" class="nav-link" target="_blank">Turbo 360</a>
                </li>
            </ul>
        </div>
    </div>
</footer>