<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid justify-content-end">
    <button type="button" class="btn btn-success">Log In</button>
  </div>
</nav>