<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand pt-0 vertex-logo" href="#">
      <img class="vertex-logo" src="https://storage.turbo360.co/vertex360-cms-4hujkc/vertex-logo-2.svg" class="navbar-brand-img" alt="...">
    </a>

    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a href="./index.html">
              <img src="/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>

      <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="landing" class="nav-link sidebar initial category-link">
            <i class="fas fa-newspaper text-primary"></i> Landing Page
          </a>
        </li>
        <li class="nav-item sidebar">
          <a id="restaurant" class="nav-link category-link">
            <i class="fas fa-utensils text-blue"></i> Restaurant
          </a>
        </li>
        <li class="nav-item sidebar">
          <a id="resume" class="nav-link category-link">
            <i class="fas fa-file text-orange"></i> Resume
          </a>
        </li>
        <li class="nav-item sidebar">
          <a id="lessons" class="nav-link category-link">
            <i class="fas fa-chalkboard-teacher text-yellow"></i> Lessons
          </a>
        </li>
        <li class="nav-item sidebar">
          <a id="fitness" class="nav-link category-link">
            <i class="fas fa-dumbbell text-red"></i> Fitness
          </a>
        </li>
        <li class="nav-item sidebar">
          <a id="realtor" class="nav-link category-link">
            <i class="fas fa-home text-info"></i> Realtor
          </a>
        </li>

      </ul>
      <hr class="my-3">
      <ul class="navbar-nav mb-md-3">
        <li class="nav-item sidebar">
          <a class="nav-link" id="how-it-works">
            <i class="fas fa-question-circle"></i> How It Works
          </a>
        </li>
        <li class="nav-item sidebar">
          <a class="nav-link" id="signup-form">
            <button type="button" class="btn btn-success btn-block" id="signup-form">Sign Up</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
