<!DOCTYPE html>
<html>

<head>
  {{>head}}
</head>

<body>
  {{>sidebar}}

  <div class="main-content">
    {{>navbar}}
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url('https://lh3.googleusercontent.com/IWUouz6uPWLofipKuaHh219C5AdniATu6C85bd6DGogdQlJ1M8BAFk6uZx-Q10pVlgYMHrRuZC5V83P_g5XGv21_bRI=s2048'); background-size: cover; background-position: center top;">
      <span class="mask bg-gradient-default opacity-5"></span>
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-12 col-md-10">
            <h1 class="display-2 text-white">Professional Websites. Fast.</h2>
            <h2 class="text-white mt-0 mb-5">Create fully-featured professional websites in minutes</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">
      <div class="row" id="templates">
        {{#templates.landing}}
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img class="template-preview" src="{{image}}">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">22</span>
                      <span class="description">Friends</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Photos</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Comments</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{name}}
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>Landing Page
                </div>
                <hr class="my-4" />
                <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
                <a href="#" class="btn btn-sm btn-info mr-4">Show More</a>
              </div>
            </div>
          </div>
        </div>
      {{/templates.landing}}
      </div>

      <div class="row mt-5 mb-5 how-it-works">
        <div class="col">
          <div class="card bg-secondary shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">How It Works</h3>
            </div>
            <div class="card-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non nulla at neque bibendum aliquet. Maecenas ut nisl in est pulvinar auctor elementum id odio. 
                Donec ornare accumsan elit eget lobortis. Praesent ac massa ante. Nulla mollis tellus sollicitudin, iaculis neque eu, malesuada diam. Cras vel felis viverra, egestas dolor quis, ornare metus. 
                Praesent dignissim efficitur ligula, ac elementum ante lobortis sed. Quisque placerat ipsum eu neque vestibulum gravida. Mauris vitae finibus purus. Aenean ac quam cursus, blandit eros commodo, egestas dolor. 
                Curabitur efficitur nec turpis ut sollicitudin. 
              </p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mt-5 mb-5 signup-form">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-4 text-center">
              <img class="signup-logo" src="https://storage.turbo360.co/vertex360-cms-4hujkc/vertex-logo-2.svg" class="navbar-brand-img" alt="...">
            </div>
            <div class="card-body px-lg-5 py-lg-4">
              <div class="text-center text-muted mb-4">
                <small>Sign up for free</small>
              </div>
              <form role="form">
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" placeholder="Name" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password">
                  </div>
                </div>
                <div class="row my-4">
                  <div class="col-12">
                    <div class="custom-control custom-control-alternative custom-checkbox">
                      <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                      <label class="custom-control-label" for="customCheckRegister">
                        <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary mt-4">Create account</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{>footer}}
  </div>
  

  <script type="text/template" id="tpl-template-preview">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img class="template-preview" src="<% image %>">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Friends</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Photos</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Comments</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              <% name %>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Landing Page
            </div>
            <hr class="my-4" />
            <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
            <a href="#" class="btn btn-sm btn-info mr-4">Show More</a>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script>window.__PRELOADED__ = {{{preloaded}}}</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/vendor/chart.js/dist/Chart.extension.js"></script>
  <script src="/js/argon.js?v=1.0.0"></script>

  <script>
    (function(){
      Mustache.tags = ["<%", "%>"]
      var preloaded = window.__PRELOADED__
      var templates = preloaded.templates
      var selectedCategory = preloaded.selected
      var categories = preloaded.categories

      var reloadUI = function(){
        var selectedTemplates = templates[selectedCategory]
        if (selectedTemplates != null){
          var templateHtml = ''
          var template = $('#tpl-template-preview').html()
          selectedTemplates.forEach(function(tpl){
            templateHtml += Mustache.render(template, tpl)
          })
          $('#templates').html(templateHtml)
          return
        }

        // fetch the templates by category:
        $.ajax({
          url: '/api/template?category=' + selectedCategory,
          type: 'GET',
          data: null,
          success:function(resp, xhr, status){
            if (resp.confirmation != 'success'){
              alert('OOPS: ' + resp.message)
              return
            }
            templates[selectedCategory] = resp.data
            reloadUI()
          },
          fail: function(request, err){
            alert('OOPS: ' + err.message)
          }
        })
      }

      $(".category-link").click(function(event){
        if (selectedCategory === event.target.id)
          return
        selectedCategory = event.target.id
        $(".category-link").css('background-color', 'white');
        $(this).css('background-color', '#f9f9f9');
        $("html, body").animate({
            scrollTop: $("#templates").offset().top - 120
          }, 700);

        reloadUI()
      });
    })()
</script>
</body>

</html>
